---
title: Events
current: 'events'
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Events</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <!-- Include the header -->
    {% include "header.njk" %}
    
    <main class="events">
        <h1 class="events__title">Agenda</h1>
        <div class="events__filter">
            <p><span class="events__filter-option events__filter-option--upcoming">Upcoming</span> / <span class="events__filter-option events__filter-option--past">Past</span></p>
        </div>
        <div class="events__container">
            <!-- Write all events (No for loop!) -->
            {% for event in events %}
            <section class="event">
                <div class="event__photo">
                    <a href="{{event.eventLink}}"><img src="{{event.eventImage}}" alt="{{event.imageAltText}}" height="320" width="320"></a>
                </div>
                <div class="event__info">
                    <a href="{{event.eventLink}}"><h4 class="event__title">{{event.eventName}}</h4></a>
                    <p class="event__description">
                        {{event.eventDescription}}
                    </p>
                    <div class="event-date">
                        <p class="event__time | time">{{event.eventTime}}</p>
                        <time class="event__day | time" datetime="2023-12-10">{{event.eventDateFormatted}}</time>
                    </div>
                </div>
            </section>
            {% endfor %}
        </div>
    </main>
    
    <!-- Include the footer -->
    {% include "footer.njk" %}

</body>
</html>
